.env
.venc
__pycache__/
logs/
*.log
brokers/core/.gateway.py.swp
strategy/.wave.py.swp
strategy/.cache/zerodha_master_contract.csv
strategy/configs/.wave.yml.swp
brokers/.DS_Store
.cache/zerodha_master_contract.csv
.cache/
wave_new.py
